<nav style="position: fixed; width: 100%; margin-bottom: 20px">
  <style>
    .message-paragraph {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 22px;
      white-space: nowrap;
    }
  </style>

  <div class="left row">
    <div class="col">
      <nav class="navbar navbar-expand-sm bg-light">
        <ul class="navbar-nav" id="links-nav">
          <% if (isLoggedIn) { %>
          <li class="nav-item">
            <a class="nav-link" style="font-size: 17px" href="/"><b>Home</b></a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="/user/savedPosts?userName=<%= userName %>"
              style="font-size: 17px"
              ><b> Saved posts</b></a
            >
          </li>
          <% if (isAdmin) { %>

          <li class="nav-item">
            <button
              style="font-size: 17px"
              type="button"
              class="btn"
              data-toggle="modal"
              data-target="#exampleModalCenter"
            >
              <b>Send message</b>
            </button>
          </li>

          <li class="nav-item">
            <a class="nav-link" style="font-size: 17px" href="/admin"
              ><b>Statistics</b></a
            >
          </li>

          <% }else if (userPlan !== 'basic') { %>
          <li class="nav-item">
            <button
              style="font-size: 17px"
              type="button"
              class="btn"
              data-toggle="modal"
              data-target="#exampleModalCenter"
            >
              <b>Send message</b>
            </button>
          </li>
          <% } %>
          <b></b>
          <% }else{ %>
          <li class="nav-item">
            <a class="nav-link" style="font-size: 17px" href="/"><b>Home</b></a>
          </li>
          <% } %>
        </ul>
      </nav>
    </div>
  </div>

  <b></b>
  <% if (isLoggedIn) { %>

  <div class="dropdown" onclick="notification()">
    <a href="#" class="notification">
      <i class="bx bxs-bell"></i>
      <% if (messages) { %>
      <span class="num"><%= messages.length %></span>
      <% } %>
    </a>

    <div id="notification" class="dropdown-content">
      <% if (messages[0]) { %>

      <b></b>
      <% for( let i = 0; i < messages.length && i < 6; i++ ) { %>

      <hr />
      <div
        onclick="messageModel('<%= messages[i].message %>', '<%= messages[i].sender %>',
        '<%= messages[i].fullDate %>','<%= messages[i].dateTime %>')"
      >
        <button
          style="font-size: 17px; width: 300px"
          type="button"
          class="btn"
          data-toggle="modal"
          data-target="#message-detail"
        >
          <p class="message-paragraph"><%= messages[i].message %></p>
        </button>
      </div>
      <% } %> <% } %>
    </div>
  </div>

  <div style="width: 15%; text-align: center">
    <b style="font-size: 20px"><%= fullName %></b>
  </div>

  <div class="dropdown profile" onclick="myFunction()">
    <img src="<%= userImage %> " />
    <div id="menu" class="dropdown-content">
      <% if (userPlan !== 'basic') { %>
      <a href="/user/profile?userName=<%= userName %>"> Profile </a>

      <% } %>
      <a href="/user/setting">Setting</a>
      <a href="/login/logout" class="logout"> Logout </a>
    </div>
  </div>

  <% }else{ %>
  <div class="dropdown" style="margin-left: auto">
    <form action="/login" method="get">
      <button class="dropbtn">Sign in</button>
    </form>
  </div>
  <% } %>
</nav>
<div style="height: 50px; margin-bottom: 30px"></div>

<script>
  function myFunction() {
    var x = document.getElementById("menu");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }

  function notification() {
    var x = document.getElementById("notification");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
</script>
