<html lang="en">
  <%- include("components/header.ejs") %>
  <body>
    <section id="content">
      <%- include("components/navbat.ejs") %>
      <b></b>

      <!-- include model of send messages -->
      <%- include('components/sendMessage.ejs') %>
      <!-- ------------------------------ -->

      <div class="container">
        <!-- =========== alert message  ===========-->
        <style>
          .alert button {
            border: none;
            position: absolute;
            right: 30px;
            background-color: inherit;
          }
        </style>
        <% if (success) { %>
        <div
          class="alert alert-success alert-dismissible fade show"
          role="alert"
        >
          <%= success %>
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <% } %>
        <p></p>
        <% if (error) { %>
        <div
          class="alert alert-danger alert-dismissible fade show"
          role="alert"
        >
          <%= error %>
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <% } %>
        <!-- ====================================== -->
        <!-- ============= start create new poost ============ -->

        <% if (isAdmin || userPlan == "premium") { %>
        <form
          id="addPost"
          action="/addPost"
          method="post"
          enctype="multipart/form-data"
        >
          <input type="hidden" name="userName" value="<%= userName %>" />
        </form>
        <div class="card">
          <h4 class="card-header">Create post</h4>
          <div class="card-body">
            <div class="form-floating">
              <textarea
                name="title"
                form="addPost"
                style="min-height: 80px"
                class="form-control"
                placeholder="Leave a comment here"
                id="floatingTextarea"
              ></textarea>
              <label for="floatingTextarea">What's on your mind</label>
              <br />
              <div class="input-group">
                <input
                  name="image"
                  form="addPost"
                  type="file"
                  class="form-control"
                  id="inputGroupFile04"
                  aria-describedby="inputGroupFileAddon04"
                  aria-label="Upload"
                />

                <button
                  form="addPost"
                  style="margin-left: 50px; width: 20%"
                  class="btn btn-primary"
                  type="submit"
                  id="inputGroupFileAddon04"
                >
                  <b>Post</b>
                </button>
              </div>
            </div>
          </div>
        </div>
        <% } %> <b></b>

        <!-- =============== end create new poost ============= -->
        <!-- ================================================== -->

        <!-- ================================================= -->
        <!-- ============== start show all posts ==============-->
        <% if (posts[0]) { %>
        <b></b>
        <% for( let i = 0; i < posts.length; i++ ) { %>

        <div class="card">
          <!------- start card body ------------->
          <div class="card-body">
            <div class="profile-post">
              <img
                src="<%= posts[i].userImage %> "
                class="card-img"
                alt="..."
              />
              <h4 style="color: black"><%= posts[i].userFullName %></h4>

              <!----------------------->
              <!--start save a post  -->
              <div class="savePost">
                <form action="/user/savePost" method="post" id="savePost">
                  <input
                    type="hidden"
                    name="postId"
                    value="<%= posts[i]._id %>"
                  />
                  <input
                    type="hidden"
                    name="userName"
                    value="<%= userName %>"
                  />
                </form>

                <div class="dropdown save" onclick="myFunction2('<%= i%>')">
                  <i class="fa-solid fa-ellipsis" style="font-size: 20px"></i>
                  <div id="save<%= i %>" class="dropdown-content button-save">
                    <button
                      class="btn"
                      style="font-size: 1.3rem"
                      type="submit"
                      form="savePost"
                    >
                      <i
                        class="fa-solid fa-bookmark"
                        style="font-size: 15px; margin-right: 8px"
                      ></i>
                      save post
                    </button>
                  </div>
                </div>
              </div>
              <!-- end save a post ------>
              <!------------------------->
            </div>

            <p class="card-text" style="margin: -5px 0 15px 55px">
              <small class="text-muted">
                <%= posts[i].date %>&nbsp; &nbsp;<%= posts[i].dateTime %>
              </small>
            </p>

            <!------------------------->
            <!-- start post contant --->
            <a href="/post?user=<%= posts[i].userName %>&id=<%= posts[i].id %>">
              <% if (posts[i].title) { %>
              <p class="card-text"><%= posts[i].title %></p>
              <% } %>
              <b></b>
              <% if (posts[i].imagePath) { %>
              <img
                src="<%= posts[i].imagePath  %> "
                class="card-img"
                alt="..."
              />
              <% } %>
            </a>
            <!-- end post contant ----->
            <!-- ----------------------->
          </div>
          <!-------- end card body ---------------->
          <!--------------------------------------->

          <!------------------------------->
          <!-- start rating and comment --->

          <form id="rate<%= i %>" action="/user/addComment" method="post">
            <input
              type="hidden"
              name="userName"
              value="<%= posts[i].userName %>"
            />
            <input type="hidden" name="id" value="<%= posts[i].id %>" />
            <input type="hidden" name="fullName" value="<%= fullName %>" />
            <input type="hidden" name="userImage" value="<%= userImage %>" />
          </form>

          <% if (isLoggedIn) { %>

          <div class="rate">
            <!-- <input
                        type="checkbox"
                        id="star5"
                        name="like"
                        form="rate"
                      /> -->
            <!-- <label for="star5" title="text"></label> -->
            <i class="fa-solid fa-thumbs-up"></i>

            <div class="comment">
              <input
                type="text"
                name="comment"
                class="form-control"
                form="rate<%= i %>"
              />
            </div>
            <button type="submit" class="btn btn-primary" form="rate<%= i %>">
              comment
            </button>
          </div>

          <% } %>
          <!-- end rating and comment ----->
          <!-- ---------------------------->
        </div>

        <% } %>
        <b></b>
        <% } %>

        <!-- ================ end show all posts ===================== -->
        <!-- ======================================================== -->
      </div>
    </section>

    <!-- include java scripts links  -->
    <%- include("components/scripts.ejs") %>
    <script>
      function myFunction2(index) {
        var y = document.getElementById(`save${index}`);
        if (y.style.display === "none") {
          y.style.display = "block";
        } else {
          y.style.display = "none";
        }
      }
    </script>
  </body>
</html>
